/* reset CSS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*mixin */
@mixin flexAlign($content, $item, $direction) {
  display: flex;
  justify-content: $content;
  align-items: $item;
  flex-direction: $direction;
}

/* google fonts - poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
$font-family: "Poppins", sans-serif;

/* text color*/
$text-dark-red: #8b0000;
$text-dark-gray: #1f1c1c;

/*font-size */
$fontSizes: (
  "x-small": .6rem,
  "small": .8rem,
  "normal": 1rem,
  "large": 1.25rem,
  "x-large": 1.5rem
);

/*custom btn*/
%btn{
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  transition: color .5s, background-color .5s;
  border-radius: 3px;
  outline: none;
  border: 1px solid $text-dark-red;
  background-color: $text-dark-red;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  &:hover {
    background-color: white;
    color: $text-dark-red;
    border-color: $text-dark-red;
  }
}

/*padding and margin */
$paddings: (1, 2, 3, 4, 5);

@each $i in $paddings {
  .p-#{$i} {
    padding: #{$i}rem;
  }

  .pt-#{$i} {
    padding-top: #{$i}rem;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}rem;
  }

  .ps-#{$i} {
    padding-left: #{$i}rem;
  }

  .pe-#{$i} {
    padding-right: #{$i}rem;
  }

  .px-#{$i} {
    padding: 0 #{$i}rem;
  }

  .py-#{$i} {
    padding: #{$i}rem 0;
  }

  .m-#{$i} {
    margin: #{$i}rem;
  }

  .mt-#{$i} {
    margin-top: #{$i}rem;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}rem;
  }

  .ms-#{$i} {
    margin-left: #{$i}rem;
  }

  .me-#{$i} {
    margin-right: #{$i}rem;
  }

  .mx-#{$i} {
    margin: 0 #{$i}rem;
  }

  .my-#{$i} {
    margin: #{$i}rem 0;
  }
}

